.main{
    display: block;
    width: 50%;
    height: 60%;
    margin: 70px auto;
    padding: auto;
    box-shadow: 1px 2px 4px ;
    border: 1px solid red;
}

.col-2{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.label{
    width: 30%;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.inputField{
    width: 100%;
    
}
input{
    width: 70%;
    height: 40px;
}

  
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}